.container {
	max-width: 750px;
}

.header {
	padding-top: 20px;
}

li {
	padding-top: 10px;
}

.btn-lg {
	margin-top: 10px;
}

.row a {
	color: black;
	text-decoration: none;
}

.col-lg-4:hover,
.col-lg-6:hover {
	background-color: #e5e5e5;
}