.container {
	max-width: 750px;
}

.header {
	padding-top: 20px;
}

.btn-lg {
	margin-top: 10px;
}

.example-search {
	text-align: center;
}

.row a,
.well-link {
	color: black;
	text-decoration: none;
}

.home-div:hover {
	border-radius: 4px;
	background-color: #e5e5e5;
}

.well {
	display: inline-block;
	margin-left: 3px;
	margin-right: 5px;
	width: 350px;
}

.btn-center {
	text-align: center;
}

.img-home {
	width: 100%;
}

.img-details {
	height: 450px;
}