<div class="jumbotron">
	<h1>Keyword?</h1>
	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p>
		<form action="/search" method="GET" role="search">
			<input class="form-control input-lg" type="text" placeholder="Movie Title Keyword" name="q" autocomplete="off">
			<button class="btn btn-lg btn-success" role="button" type="submit">Search</button>
		</form>
	</p>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="example-search">Mauris viverra tempus magna vitae.</h2>
	</div>
</div>
<div class="row">
	<a href="/search?q=american">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 home-div">
			<h4>American</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
	</a>
	<a href="/search?q=life">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 home-div">
			<h4>Life</h4>
			<p>Curabitur accumsan sapien a lacinia porttitor. Etiam nec felis sed nisi condimentum vestibulum nec.</p>
		</div>
	</a>
	<a href="/search?q=kind">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 home-div">
			<h4>Kind</h4>
			<p>Nunc finibus luctus molestie. Sed commodo, justo luctus tincidunt, magna justo blandit eros.</p>
		</div>
	</a>
</div>
<div class="row">
	<a href="/search?q=lethal">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 home-div">
			<h4>Lethal</h4>
			<p>Nam ornare ligula eu porta eleifend. In suscipit facilisis vehicula. Vestibulum ultricies magna a.</p>
		</div>
	</a>
	<a href="/search?q=boy">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 home-div">
			<h4>Boy</h4>
			<p>Suspendisse ultricies egestas mauris sed vehicula. Etiam magna diam, dapibus pellentesque et, placerat.</p>
		</div>
	</a>
</div>

<hr>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h2 class="example-search">Morbi blandit tellus non nunc.</h2>
	</div>
</div>
<div class="row">
	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
		<a href="/search/tt0128445">
			<img src="http://ia.media-imdb.com/images/M/MV5BMjE2OTc3OTk2M15BMl5BanBnXkFtZTgwMjg2NjIyMDE@._V1_SX300.jpg" alt="Rushmore poster" class="img-home">
		</a>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
		<a href="/search/tt1748122">
			<img src="http://ia.media-imdb.com/images/M/MV5BMTEwMTc3NDkzOTJeQTJeQWpwZ15BbWU3MDI4NTAwNzc@._V1_SX300.jpg" alt="Moonrise Kingdom poster" class="img-home">
		</a>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
		<a href="/search/tt3844362">
			<img src="http://ia.media-imdb.com/images/M/MV5BMTQ0MjQ3MTY3OF5BMl5BanBnXkFtZTgwMjg2MjQ5NTE@._V1_SX300.jpg" alt="The Overnight poster" class="img-home">
		</a>
	</div>
	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
		<a href="/search/tt3488184">
			<img src="http://ia.media-imdb.com/images/M/MV5BMTg4MTkzMzA3OV5BMl5BanBnXkFtZTgwNDI3NTc2NjE@._V1_SX300.jpg" alt="7 Chinese Brothers poster" class="img-home">
		</a>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
		<h3>Proin vitae ultrices nulla, nec lobortis turpis. Praesent sollicitudin ex ac tortor cursus, in efficitur mauris malesuada. Integer blandit, nibh.</h3>
	</div>
</div>