<div class="jumbotron">
	<h1>Keyword?</h1>
	<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	<p>
		<form action="/search" method="GET" role="search">
			<input class="form-control input-lg" type="text" placeholder="Movie Title" name="q">
			<button class="btn btn-lg btn-success" role="button" type="submit">Search</button>
		</form>
	</p>
</div>

<div class="row">
	<a href="/search?q=american">
		<div class="col-lg-4">
			<h4>American</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
	</a>
	<a href="/search?q=office">
		<div class="col-lg-4">
			<h4>Office</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
	</a>
	<a href="/search?q=dream">
		<div class="col-lg-4">
			<h4>Dream</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
	</a>
</div>
<div class="row">
	<a href="/search?q=lethal">
		<div class="col-lg-6">
			<h4>Lethal</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
	</a>
	<a href="/search?q=dead">
		<div class="col-lg-6">
			<h4>Dead</h4>
			<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
		</div>
	</a>
</div>