<% tags.forEach(function(tag) { %>
	<a href="/favorites/<%= tag.id %>">
		<div class="well" id="tags-well">
			<i class="fa fa-tag"></i> <%= tag.name %>
		</div>
	</a>
<% }); %>

<div class="btn-center">
	<a href="javascript:history.back()"><button type="button" class="btn btn-lg btn-info">Back</button></a>
</div>