<h1><%= comment[0].author %></h1>

<h2><%= favorite.id %></h2>

<p>
	<form action="/favorites/<%= favorite.id %>/comments" method="POST" role="search">
		<input class="form-control input-lg" type="text" placeholder="Author" name="author" autocomplete="off">
		<input class="form-control input-lg" type="text" placeholder="Comment" name="comment" autocomplete="off">
		<button class="btn btn-lg btn-success" role="button" type="submit">Search</button>
	</form>
</p>