<% Search.forEach(function(movie) { %>
	<a class="well-link" href="search/<%= movie.imdbID%>">
		<div class="well">
			<%= movie.Title; %>
		</div>
	</a>
<% }); %>

<div class="btn-center">
<a href="/"><button type="button" class="btn btn-lg btn-info">Back</button></a>
</div>