<% Search.forEach(function(movie) { %>
	<a class="well-link" href="search/<%= movie.imdbID%>">
		<div class="well">
			<%= movie.Title; %>
		</div>
	</a>
<% }); %>

<hr>

<div class="row">
	<div class="col-lg-6 col-lg-offset-3 btn-center">
		<h2>Sed finibus leo ac arcu vulputate, nec euismod.</h2>
		<p>
			<form action="/search" method="GET" role="search">
				<input class="form-control input-lg" type="text" placeholder="Search a Different Movie Title" name="q" autocomplete="off">
				<button class="btn btn-lg btn-success" role="button" type="submit">Search</button>
			</form>
		</p>
	</div>
</div>