Add comments for <%= favorite.title %>:

<p>
	<form action="/favorites/<%= favorite.id %>/tags" method="POST" role="search">
		<input class="form-control input-lg" type="text" placeholder="Author" name="tag" autocomplete="off">
		<button class="btn btn-lg btn-success" role="button" type="submit">Search</button>
	</form>
</p>